<div style="text-align: center; margin-top: 30px; font-family: Arial;">
  <h1>🚀 Smart Helpdesk</h1>

  <div style="background: #e3f2fd; padding: 20px; width: 60%; margin: 20px auto; border-radius: 10px;">
    <h3>➕ Dodaj nowe zgłoszenie</h3>
    
    <input type="text" placeholder="Tytuł awarii" [(ngModel)]="newTicket.title" 
           style="padding: 10px; margin: 5px; width: 40%;">
           
    <select [(ngModel)]="newTicket.category" style="padding: 10px; margin: 5px;">
      <option value="AWARIA">Awaria</option>
      <option value="SPRZET">Sprzęt</option>
      <option value="INNE">Inne</option>
    </select>
    
    <br>
    
    <input type="text" placeholder="Opis problemu" [(ngModel)]="newTicket.description" 
           style="padding: 10px; margin: 5px; width: 70%;">
           
    <br><br>
    
    <button (click)="addTicket()" 
            style="background: #2196F3; color: white; padding: 10px 20px; border: none; cursor: pointer; font-size: 16px;">
      Wyślij zgłoszenie
    </button>
  </div>

  <hr style="width: 80%; margin: 30px auto;">

  <div *ngIf="tickets.length > 0; else noData">
    <table border="1" style="margin: 0 auto; border-collapse: collapse; width: 80%;">
      <thead style="background-color: #f2f2f2;">
        <tr>
          <th style="padding: 10px;">ID</th>
          <th style="padding: 10px;">Tytuł</th>
          <th style="padding: 10px;">Opis</th>
          <th style="padding: 10px;">Kategoria</th>
          <th style="padding: 10px;">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of tickets">
          <td style="padding: 8px;">{{ t.id }}</td>
          <td style="padding: 8px; font-weight: bold;">{{ t.title }}</td>
          <td style="padding: 8px;">{{ t.description }}</td>
          <td style="padding: 8px;">{{ t.category }}</td>
          <td style="padding: 8px;">{{ t.status }}</td>
          <td style="padding: 8px; text-align: center;">
    <button (click)="removeTicket(t.id)" 
            style="background-color: #ff4444; color: white; border: none; padding: 5px 10px; cursor: pointer; border-radius: 4px;"> Usuń
    </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noData>
    <p style="color: gray;">Brak zgłoszeń w bazie. Dodaj pierwsze powyżej!</p>
  </ng-template>

</div>