<div class="add-ticket-container">
  <div class="ticket-card">
    <button class="back-btn" (click)="goBack()">← Anuluj i wróć</button>
    
    <h2>Nowe Zgłoszenie</h2>

    <div class="form-group">
      <label>Tytuł zgłoszenia *</label>
      <input type="text" [(ngModel)]="ticketData.title" placeholder="Np. Awaria drukarki">
    </div>

    <div class="form-group">
      <label>Kategoria</label>
      <select [(ngModel)]="ticketData.category">
        <option value="IT">IT / Komputery</option>
        <option value="MAINTENANCE">Utrzymanie Ruchu / Naprawy</option>
        <option value="HR">Kadry / HR</option>
        <option value="OTHER">Inne</option>
      </select>
    </div>

    <div class="form-group">
      <label>Lokalizacja (opcjonalnie)</label>
      <input type="text" [(ngModel)]="ticketData.location" placeholder="Np. Biuro 102, Magazyn A">
    </div>

    <div class="form-group">
      <label>Opis problemu *</label>
      <textarea [(ngModel)]="ticketData.description" rows="5" placeholder="Opisz dokładnie, co się stało..."></textarea>
    </div>

    <button 
      class="submit-btn" 
      (click)="submitTicket()" 
      [disabled]="isSubmitting">
      
      <span *ngIf="!isSubmitting">Wyślij zgłoszenie</span>
      <span *ngIf="isSubmitting">Wysyłanie... ⏳</span>
      
    </button>

    <p class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>